<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with
      <a href="https://ghost.org/" target="_blank">Ghost</a>,
      <a href="https://github.com/Kikobeats/uno-zen" target="_blank">Uno Zen</a> theme
      and a <a href="https://bitbucket.org/cdbattags/uno-zen-cdbattaglia" target="_blank">customization</a> by your's truly.
  </span>
</footer>
